<a href="https://colab.research.google.com/github/monikagithub1234/Fmmllabs/blob/main/python_for_machine_learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**
* web development (server-side)
* software development
* mathematics
* system scripting

What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software
 development.

Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.
* Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [ ]:
#syntax
print("Hello, World!")

Hello, World!

# Python Variables
**In Python, variables are created when you assign a value to it:**
**variable is a storage block **

# Legal variable names:

* myvar = "John"
* my_var = "John"
* _my_var = "John"
* myVar = "John"
* MYVAR = "John"
* myvar2 = "John"

# Illegal variable names:
* 2myvar = "John"
* my-var = "John"
* my var = "John"

In [ ]:
b=10
print()

In [ ]:
a=10
b="total"
print(a)
print(b)

10
total

In [ ]:
a= 10
a=20
print(a)

20

In [ ]:
x,y,z= "or","ba","tu"
print(x,y,z)

or ba tu

In [ ]:
x=y=z="butterfly"
print(x,y,z)

butterfly butterfly butterfly

In [ ]:
x,y,z="orrr"
print(x,y,z)

ValueError: too many values to unpack (expected 3)

# Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable

# Camel Case
Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName="prasad"
print(myVariableName)

prasad

# Pascal Case
Each word starts with a capital letter

In [ ]:
MyVariableName="prasad"
print(myVariableName)

prasad

# Snake Case
Each word is separated by an underscore character:

In [ ]:
my_Variable_Name="prasad"
print(myVariableName)

prasad

# Swapping of two numbers

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

# Get the Type
**You can get the data type of a variable with the type() function.**

In [ ]:
x=5
print(type(x))

<class 'int'>

# Python Data Types

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool

In [ ]:
x=20
print(x)
print(type(x))

20
<class 'int'>

In [ ]:
x=20.5
print(type(x))

<class 'float'>

In [ ]:
x=1j
print(x)
print(type(x))

1j
<class 'complex'>

In [ ]:
x="1a"
print(x)
print(type(x))

1a
<class 'str'>

In [ ]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
a=kiet
print(a)
print(type(a))

NameError: name 'kiet' is not defined


# TOKENS , PRINTING STATEMENTS AND TYPE CASTING

**TOKENS**
Tokens are the building blocks of a program. When you write code, the Python interpreter breaks it down into these tokens for further processing.

# TOKENS are 5 types
1.   KEYWORDS
2.   IDENTIFIERS
3. LITERALS
4.  DELIMITERS
5.  COMMENTS

# KEYWORDS
**Keywords: These are reserved words that have special meanings in Python and cannot be used as identifiers (variable names or function names). Examples include if, else, while, for, def, class, etc.**

In [ ]:
if 2<10:
    print("This is an example of a keyword (if)")

# IDENTIFIERS
** These are names given to variables, functions, classes, modules, etc. in a Python program. Identifiers must follow certain rules, such as starting with a letter or underscore, followed by letters, digits, or underscores. Identifiers are case-sensitive.**

In [ ]:
x = 5
y = "John"
print(x)
print(y)

# Literals:
**Literals: Literals represent fixed values in your code. There are several types of literals:

Numeric literals: These include integers, floating-point numbers, and complex numbers.
String literals: These are sequences of characters enclosed in quotes (' or ").**

In [ ]:
# Literals
number = 42
floating_point = 3.14
string = "Hello, World!"
boolean = True
none_value = None

# Operators:
**Operators: Operators are symbols that perform operations on operands. For example, +, -, *, / are arithmetic operators, ==, !=, <, > are comparison operators, and, or, not are logical operators, etc.**

In [ ]:
x = 10
y = 20
print(x+y)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

**In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:**

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = "John"
print(x,y)

5 John

# DELIMITERS
**Delimiters: These are characters used to specify the structure of a program. Examples include parentheses (), square brackets [], curly braces {}, commas ,, colons :, periods ., etc.**

In [ ]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 1, 'b': 2}

#Comments
**Comments: Comments are used to explain code and are ignored by the Python interpreter. They start with # and extend to the end of the line.**

**WE HAVE TWO TYPES OF COMMENTS IN PYTHON**


1.   SINGLE LINE COMMENT-----#
2.   MULTY LINE COMMENT-----""" """

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Type casting
**Type casting, also known as type conversion, is the process of converting one data type into another. In Python, you can perform type casting using various built-in functions or by using the constructor functions of the target data type.

Here are the common types of type casting in Python:**

**Implicit Type Conversion: This type of conversion is automatically performed by Python for certain operations where one data type is expected, but another data type is provided. For example, adding an integer to a float will result in an implicit conversion of the integer to a float.**

In [ ]:
# Implicit Type Conversion
num_int = 10
num_float = 3.5
result = num_int + num_float  # num_int is implicitly converted to float
print(result)  # Output: 13.5

13.5

**Explicit Type Conversion: This type of conversion is performed explicitly by the programmer using predefined functions to convert one data type to another.**

1. int(): Converts the specified value into an integer.
2. float(): Converts the specified value into a floating-point number.
3. str(): Converts the specified value into a string.
4. bool(): Converts the specified value into a Boolean value.
5. list(): Converts the specified iterable (e.g., tuple, set) into a list.
6. tuple(): Converts the specified iterable into a tuple.
7. set(): Converts the specified iterable into a set.

In [ ]:
# Converting string to integer
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int)

123

In [ ]:
a=13.5
b=int(a)
print(b)

13

In [ ]:
# Converting float to integer
a = 3.14
b= int(a)
print("Float to Integer:", b)

In [ ]:
# Converting integer to string
num_int = 456
num_str = str(num_int)
print("Integer to String:", num_str)

In [ ]:
# Converting boolean to integer
bool_val = True
num_int = int(bool_val)
print("Boolean to Integer:", num_int)

#PRINTING METHODS
**Two commonly used methods are f-strings and the format() method.**

**f-strings provide a concise and readable way to format strings by embedding expressions inside curly braces {}. You can include variables, expressions, and function calls directly within the string. f-strings are available in Python 3.6 and later versions.**

In [ ]:
x = 5
y = 10
print(f"The sum of {x} and {y} is {x + y}")

In [ ]:
name = "John"
print(f"Hello, {name}")

In [ ]:
name = "Alice"
age = 30
height = 5.6

# Using f-strings
print(f"My name is {name}, I am {age} years old, and my height is {height} feet.")

**format() method:

The format() method allows you to format strings by inserting variables or values into placeholders {} within the string. You can specify the order of insertion and provide formatting options such as alignment, padding, and precision.**

In [ ]:
name = "Bob"
age = 25
height = 6.0

# Using format() method
print("My name is {}, I am {} years old, and my height is {} feet.".format(name, age, height))

In [ ]:
item = "apple"
price = 1.99
print("The price of {} is {}".format(item, price))

In [ ]:
name = "Jane"
age = 35
print("{1} is {0} years old".format(age, name))

#  Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 100))

#USER INPUT,INDENTATION AND CONDITIONALS

# USER INPUT
**User input refers to data or information provided by the user to a computer program during its execution.**

In [ ]:
a=10
print(a)

In [ ]:
# Prompting the user to enter their name
a= int(input())
print(a)

In [ ]:
a= int(input())
b=int(input())
print(a+b)

In [ ]:
# Prompting the user to enter their name
a= int(input("enter value of a:"))
print(a)

In [ ]:
a= float(input("enter value of a:"))
print(a)

In [ ]:
# Prompting the user to enter their name
name = input("Enter your name: ")

# Displaying a greeting message with the user's name
print("Hello,", name)

# Python Indentation
**Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.**

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

# CONDITIONALS
**
In Python, conditional statements are used to control the flow of a program based on certain conditions. They allow the program to execute different blocks of code depending on whether certain conditions are true or false**

**In python the conditionals are**


1. if
2. if - else
3. elif
4. Nested if

** logical conditions**


*  Equals: a == b
* Not Equals: a != b
*  Less than: a < b
*  Less than or equal to: a <= b
*  Greater than: a > b
*  Greater than or equal to: a >= b

**if Statement: The if statement is used to execute a block of code if a specified condition is true.**

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

In [ ]:
x = 10
if x > 5:
print("x is greater than 5")

In [ ]:
a=100
if a!=10:
  print("a not equals to 100")

In [ ]:
a=100
if a>=10:
  print("a greater than or not eqaul to 10")

In [ ]:
if 2 > 5:
  print("NONE")

**if-else Statement: The if-else statement is used to execute one block of code if the condition is true, and another block of code if the condition is false.**

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

In [ ]:
a = 200
b = 33
if b > a:
  print("KIET")
else:
  print("COLLEGE")

In [ ]:
age=20
backlogs=0
if age>18:
  if backlogs<2:
    print("submit letter")
  else:
    print("no submission")
else:
    print("default")

**if-elif-else Statement: The if-elif-else statement is used to check multiple conditions. It evaluates each condition one by one, and if any of the conditions are true, the corresponding block of code is executed. If none of the conditions are true, the else block is executed.**

In [ ]:
x = 10
if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

In [ ]:
x = 10
if x < 100:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

In [ ]:
x = 10
if x > 10:
    print("x is greater than 10")
elif x != 10:
    print("x is  NOT equal to 10")
else:
    print("x is less than 10")

#Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
  print("Not")

In [ ]:
x = 10
if x < 5:
    if x < 15:
        print("x is between 5 and 15")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

In [ ]:
x = 10
if x > 5:
    if x < 9:
        print("x is between 5 and 9")
    elif x==10:
      print("x equals to 10")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

In [ ]:
x = 10
if x > 5:
    if x < 9:
        print("x is between 5 and 9")
    elif x!=10:
      print("x equals to 10")
    else:
        print("x is greater than or equal to 15")
else:
    print("x is less than or equal to 5")

**CODE -2**
Write a code to determine whether a number is positive number, negative number, or zero by taking user input.
* ex:
* 2
* positive number
* 0
* Zero

In [ ]:
num = int(input())
if num>0:
  print("Positive num")
elif num<0:
  print("Negative num")
else:
  print("The num is Zero")


# OPERATORS AND STRINGS

**Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values**

In [ ]:
print(20 + 50)

70

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

#  Arithmetic Operators

**Python Arithmetic Operators are used with numeric values to perform common mathematical operations:**


Operator	Name	Example	Try it
1. Addition	x + y
2. Subtraction	x - y
3. Multiplication	x * y
4.	Division	x / y
5. Modulus	x % y
6. Exponentiation	x ** y
7. Floor division	x // y

In [ ]:
x = 15
y = 2

print(x / y)

7.5

In [ ]:
x = 15
y = 2

print(x // y)

7

In [ ]:
x = 2
y = 5

print(x ** y)

32

In [ ]:
x = 10
y = 2

print(x % y)

0

**CODE-3 determine whether a given number is even or odd:**

In [ ]:
number=int(input("Enter a number"))
if number % 2 == 0:
    print("number is even.")
else:
    print("number is odd.")

# Assignment Operators
**Assignment operators are used to assign values to variables**

Operator	Example
1.  x = 5	 -------x = 5
2. 	x += 3	-------x = x + 3
3. 	x -= 3	-------x = x - 3
4. 	x *= 3	-------x = x * 3
5. 	x /= 3	-------x = x / 3
6. 	x %= 3	-------x = x % 3
7. 	x //= 3	-------x = x // 3

In [ ]:
x = 5
x += 3

print(x)

In [ ]:
x = 5

x **= 3

print(x)

****

# Comparison Operators
**Comparison operators are used to compare two values:**


Operator	Name	Example	Try it
1. Equal	x == y
2. Not equal	x != y
3. Greater than	x > y
4. Less than	x < y
5. 	Greater than or equal to	x >= y
6. 	Less than or equal to	x <= y

In [ ]:
x = 5
y = 3

print(x == y)

False

In [ ]:
x = 5
y = 3

print(x != y)

True

In [ ]:
x = 5
y = 3

print(x <= y)

False

In [ ]:
x=3
y=3
print(x>=y)

True

#Logical Operators
**Logical operators are used to combine conditional statements:**



1. "and "	Returns True if both statements are true----	x < 5 and  x < 10
2. "or"	Returns True if one of the statements is true---	x < 5 or x < 4
3. "not"	Reverse the result, returns False if the result is--- true	not(x < 5 and x < 10)

In [ ]:
x = 5

print(x > 3 and x < 10)

True

In [ ]:
x = 5
if x > 3 and x < 10:
  print(True)

In [ ]:
x = 5
if x < 3 and x < 10:
  print(True)

In [ ]:
x=-5
y=20
if x > 0 and y > 0:
  print("Both numbers are positive.")
elif x > 0 or y > 0:
  print("At least one number is positive.")
else:
  print("Both numbers are non-positive.")

At least one number is positive.

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

# Identity Operators
**Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location**

1. "is"	Returns True if both variables are the same object	-----x is y
2. "is not"	Returns True if both variables are not the same object	---x is not y

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(y is z)

False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)

False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is y)

False

In [ ]:
a = 5
b = a

if a is b:
    print("a and b are the same object.")
else:
    print("a and b are different objects.")

a and b are the same object.

#  Membership Operators
 **Membership operators are used to test if a sequence is presented in an object:**


1. "in "	   Returns True if a sequence with the specified value is present in the object-------x in y
2. "not in"	   Returns True if a sequence with the specified value is not present in the object-----x not in y

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

True

In [ ]:
my_string = "Hello, World!"

if "H" in my_string:
    print("'H' is present in the string.")
else:
    print("'H' is not present in the string.")

In [ ]:
main_string = "This is a test string."
substring = "test"

if substring in main_string:
    print("The substring  is present in the main string.")
else:
    print("The substring  is not present in the main string")

# Bitwise Operators
**Bitwise operators are used to compare (binary) numbers:**
1. "&" NAME :	AND	---Sets each bit to 1 if both bits are 1	----x & y
2. '|'	NAME :	OR	Sets each bit to 1 if one of two bits is 1	----x | y
3. "^"	NAME :XOR	---Sets each bit to 1 if only one of two bits is 1	----x ^ y
4. "~"	NAME :NOT	Inverts all the bits	----~x
5. "<<"	NAME :Zero fill left shift	---Shift left by pushing zeros in from the right and let the leftmost bits fall off	----x << 2
6. ">>" NAME :Signed right shift	---Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off----	x >> 2

In [ ]:
'''The & operator compares each bit
and set it to 1 if both are 1,
otherwise it is set to 0:'''
print(6 & 3)

In [ ]:
'''The | operator compares each bit and set it
 to 1 if one or both is 1,
otherwise it is set to 0:'''
print(6 | 3)

In [ ]:
'''The ^ operator compares each bit
and set it to 1 if only one is 1,
 otherwise (if both are 1 or both are 0)
 it is set to 0:'''

print(6 ^ 3)

**WHAT IS OPERATOR PRECEDENCE??**

In [ ]:
print((6 + 3) - (6 + 3))

In [ ]:
print(100 + 5 * 3)

#  Strings
**In Python, a string is a sequence of characters enclosed within either single quotes (') or double quotes ("). Strings are immutable, meaning once they are created, their content cannot be modified. Here's a detailed explanation with examples:**

**Creating strings**

In [ ]:
# Creating strings
single_quoted_string = 'Hello, World!'
double_quoted_string = "Hello, World!"
multiline_string = '''This is a multiline
string in Python.'''

In [ ]:
print("Hello")
print('Hello')

**Assign String to a Variable**

In [ ]:
a = "Hello"
print(a)

**Multiline Strings**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# Indexing
1. Indexing refers to the process of accessing individual elements within a data structure using their position or index.
2. In Python, indexing starts from 0, meaning the first element of a sequence has an index of 0, the second element has an index of 1, and so on.
3. Additionally, negative indexing allows you to access elements from the end of the sequence, with -1 representing the last element, -2 representing the second-to-last element, and so forth.

**Accessing Characters in a String:**
1. Individual characters within a string can be accessed using indexing:

In [ ]:
A="KIET"
print(A[0])
print(A[-1])

In [ ]:
# Accessing characters in a string
my_string = "Hello, World!"

print(my_string[0])
print(my_string[7])
print(my_string[-1])

H
W
!

# Slicing
**You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.**
1. sequence[start:stop:step]

In [ ]:
my_string = "Hello, World!"
print(my_string[2:5])

In [ ]:
my_string = "Hello, World!"
print(my_string[:5])

In [ ]:
my_string = "Hello, World!"

print(my_string[7:])

In [ ]:
my_string = "Hello, World!"
print(my_string[2:5:1])

llo

In [ ]:
my_string = "Hello, World!"
print(my_string[2:12:1])

llo, World

In [ ]:
my_string = "Hello, World!"
sliced_string = my_string[1:10:2]
print(sliced_string)

el,Wr

**Reversing the string.**

In [ ]:
my_string = "Kiet college"
print(my_string[::-1])

egelloc teiK

**String Concatenation:**
Strings can be concatenated using the + operator:

In [ ]:
# String concatenation
str1 = "Hello"
str2 = "World"

concatenated_string = str1 + ", " + str2
print(concatenated_string)

Hello, World

**String Formatting:
Python supports different methods for string formatting:**

In [ ]:
# String formatting
name = "Alice"
age = 30

print("My name is {} and I am {} years old.".format(name, age))


print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

**String Methods:**
Python provides many built-in methods for working with strings:

**len() -returns the length of a string:**

In [ ]:
# String methods
my_string = "Hello, World!"
print(len(my_string))

13

**upper(): Converts all characters in a string to uppercase.**

In [ ]:
my_string = "Hello, World!"
print(my_string.upper())

HELLO, WORLD!

**lower(): Converts all characters in a string to lowercase.**

In [ ]:
my_string = "Hello, World!"
print(my_string.lower())

hello, world!

**split(): Splits a string into a list of substrings based on a delimiter.**

In [ ]:
my_string = "Hello World!"
print(my_string.split(', '))

['Hello World!']

**capitalize(): Converts the first character of a string to uppercase and the rest to lowercase.t**

In [ ]:
# capitalize()
my_string = "hello, world!"
print(my_string.capitalize())  # Output: 'Hello, world!'

Hello, world!

**replace(): Replaces occurrences of a substring within a string with another substring.**

In [ ]:
# replace()
my_string = "Hello, World!"
print(my_string.replace('Hello', 'Hi'))  # Output: 'Hi, World!'

Hi, World!

**strip(): Removes leading and trailing whitespace characters from a string.**

In [ ]:
# strip()
my_string = "   Hello, World!   "
print(my_string.strip())  # Output: 'Hello, World!'

Hello, World!

**startswith(): Checks if a string starts with a specified prefix.**

In [ ]:
# startswith()
my_string = "Hello, World!"
print(my_string.startswith('Hello'))  # Output: True

True

**endswith(): Checks if a string ends with a specified suffix.**

In [ ]:
# endswith()
my_string = "Hello, World!"
print(my_string.endswith('World!'))  # Output: True

True

**count(): Returns the number of occurrences of a substring within a string.**

In [ ]:
# count()
my_string = "Hello, World!"
print(my_string.count('l'))  # Output: 3 (number of occurrences of 'l')

3

**find(): Returns the index of the first occurrence of a substring within a string, or -1 if the substring is not found.**

In [ ]:
# find()
my_string = "Hello, World!"
print(my_string.find('o'))

4

In [ ]:
# find()
my_string = "Hello, World!"
print(my_string.find('a'))

-1

**index(): Returns the index of the first occurrence of a substring within a string, or raises a ValueError if the substring is not found.**

In [ ]:
# index()
my_string = "Hello, World!"
print(my_string.index('o'))  # Output: 4 (index of the first occurrence of 'o')

4

**swapcase(): Swaps the case of each character in a string (converts lowercase letters to uppercase and vice versa).**

In [ ]:
# swapcase()
my_string = "Hello, World!"
print(my_string.swapcase())  # Output: 'hELLO, wORLD!'

hELLO, wORLD!

**CODE -4 FIZZBUZZ**

Write a code to print "FIZZ" if numbere divisible by 3 and "BUZZ" if th same number divisible by 5 and print "FIZZBUZZ" if number divisible by both 3&5.

In [ ]:
a= int(input())
if a%3==0 and a%5==0:
  print("FIZZBUZZ")
elif a%3==0:
  print("FIZZ")
elif a%5==0:
  print("BUZZ")

15
FIZZBUZZ

# DAY 7
**Python Lists**

In [ ]:
mylist = ["apple", "banana", "cherry"]

**Lists are used to store multiple items in a single variable.Lists are one of 4 built-in data types in Python used to store collections of data**

**Lists are created using square brackets**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

**Allow Duplicates**

Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

**List Items - Data Types**

List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:


* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

**Changeable**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created

**Ordered**

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**List Items**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Access Items**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

**Check if Item Exists**

To determine if a specified item is present in a list use the in keyword

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Change Item Value**

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
#Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

**Loop Through a List**
You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

**Looping Using List Comprehension**
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
a=10
[print(i)for i in range(1,a+1)]

**List Methods**

**append() - Adds an element at the end of the list**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print("After append():", my_list)

After append(): [1, 2, 3, 4, 5, 6]

**clear() - Removes all the elements from the list**

In [ ]:
my_list.clear()
print(my_list)

After clear(): []

**copy() - Returns a copy of the list**

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
print(new_list)

Copy of the list: [1, 2, 3, 4, 5]

**count() - Returns the number of elements with the specified value**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
print("Count of '2' in the list:", my_list.count(2))

Count of '2' in the list: 3

**extend() - Add the elements of a list (or any iterable), to the end of the current list**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
another_list = [6, 7, 8]
my_list.extend(another_list)
print("After extend():", my_list)

After extend(): [1, 2, 2, 3, 4, 5, 2, 6, 7, 8]

**index() - Returns the index of the first element with the specified value**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
print("Index of '3' in the list:", my_list.index(3))

Index of '3' in the list: 3

**insert() - Adds an element at the specified position**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
my_list.insert(2, 2.5)
print("After insert():", my_list)

After insert(): [1, 2, 2.5, 2, 3, 4, 5, 2]

 **pop() - Removes the element at the specified position (or last element if no index specified)**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
popped_element = my_list.pop(2)
print("Popped element:", popped_element)
print("After pop():", my_list)

Popped element: 2
After pop(): [1, 2, 3, 4, 5, 2]

**remove() - Removes the item with the specified value**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
my_list.remove(2)
print("After remove():", my_list)

After remove(): [1, 2, 3, 4, 5, 2]

**reverse() - Reverses the order of the list**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
my_list.reverse()
print("After reverse():", my_list)

After reverse(): [2, 5, 4, 3, 2, 2, 1]

The del keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

**sort() - Sorts the list**

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 2]
my_list.sort()
print("After sort():", my_list)

After sort(): [1, 2, 2, 2, 3, 4, 5]

**Sort Descending**

To sort descending, use the keyword argument reverse = True:

In [ ]:
#Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**List Length**  
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

**List Length**
   
To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

**type()**

From Python's perspective, lists are defined as objects with the data type 'list':

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

**CODE - 6 Check whether the given number is PRIME or not**

In [ ]:
num=10
for i in range(2,num):
  if num%i==0:
    print("Not prime")
    break
else:
  print("Prime")

Not prime

# DAY 8
**SETS,TUPLES,DICTONARIES**

# Python Set
Sets are used to store multiple items in a single variable.Sets are written with curly brackets.

**set Items**
Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

*** Note: Set items are unchangeable, but you can remove items and add new items.**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

**Duplicates Not Allowed**

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

**Get the Length of a Set**

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

**Set Items - Data Types**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

**the set() Constructor**
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

**Add Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

**Add Sets**

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

**Remove Item**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

**clear()**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

**Loop Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

**Union**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

**Intersection**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

#  Python Tuples

**Tuple**
Tuples are used to store multiple items in a single variable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

**Tuple Items**
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**
Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

**Tuple Length**
To determine how many items a tuple has, use the len() function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

**Create Tuple With One Item**
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

**Tuple Items - Data Types**

In [ ]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

**The tuple() Constructor**

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

**Access Tuple Items**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

**Check if Item Exists**

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

**Join Two Tuples**

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

# Python Dictionaries

**Dictionaries are used to store data values in key:value pairs.**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Duplicate values will overwrite existing values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Dictionary Length**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

3


**The dict() Constructor**

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

**Accessing Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

**Get Keys**
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

**Get Values**
The values() method will return a list of all the values in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

**Get Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.items()
print(x)

**Change Values**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

**Adding Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Removing Items**
There are several methods to remove items from a dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

**Copy a Dictionary**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

**Nested Dictionaries**

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

**Some METHODS**


1. clear()	Removes all the elements from the dictionary
2. copy()	Returns a copy of the dictionary
3. fromkeys()	Returns a dictionary with the specified keys and value
4. get()	Returns the value of the specified key
5. items()	Returns a list containing a tuple for each key value pair
6. keys()	Returns a list containing the dictionary's keys
7. pop()	Removes the element with the specified key
8. popitem()	Removes the last inserted key-value pair
9. setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
10. update()	Updates the dictionary with the specified key-value pairs
11. values()	Returns a list of all the values in the dictionary

# DAY 9
# FUNCTIONS

**A function is a block of code which only runs when it is called.** **You can pass data, known as parameters, into a function.** **A function can return data as a result**

**Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

**Calling a Function**
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**Parameters:**
Parameters (or arguments) are values that are passed into a function when it is called. They allow you to provide input to the function for processing. Functions can accept zero or more parameters.

In [ ]:
def greet(name):
    print(name)

**Function Body:**
The function body contains the code that executes when the function is called. It can consist of any valid Python code, including variable declarations, conditional statements, loops, and more.

In [ ]:
def add(a, b):
    return a + b

**Calling a Function:**
To execute a function, you need to call it by using its name followed by parentheses ( ). If the function accepts parameters, you pass them within the parentheses.

In [ ]:
def add(a, b):
    return a + b

result=add(3, 5)
print(result)

8

**Return Statement:***
The return statement is used to exit a function and return a value (or values) to the caller. Functions can return any data type, including integers, strings, lists, tuples, dictionaries, or even other functions.

In [ ]:
def subtract(a, b):
    return a - b

print(subtract(8, 3))  # Output: 5

5

In [ ]:
def subtract(a, b):
    return a - b
a=5
b=3
print(subtract(a,b))

2

**Scope of Variables:**

Variables defined inside a function have local scope, meaning they can only be accessed within that function. Variables defined outside of any function (at the module level) have global scope and can be accessed from any part of the code.

**Global Variables**

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**Local Variables**

In [ ]:
def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

Python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**CODE-7 Factorial of a number**

In [ ]:
num=int(input())
if(num==0):
    print("1")
elif(num==1):
    print("1")
else:
    for i in range(1,num):
        num=num*i
print(num)

5
120

In [ ]:
def fac(num):
  if(num==0):
    return "0"
  elif(num==1):
   return "1"
  else:
    for i in range(1,num):
        num=num*i
    return num
num=int(input())
print(fac(num))

5
120

**CODE-8 Python program to sort string character in ascending order.**

In [ ]:
def fun(a):
  b=list(a)
  b.sort()
  d ="".join(b)
  return d
a=input("Enter a string:")
print(fun(a))

Enter a string:prasad
aadprs

**CODE-9 Printing star code**

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,(n-i+1)+1):
    print(" ",end=" ")
  for j in range(1,(2*i-1)+1):
    print("*",end=" ")
  print( " ")

      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
n=4
for i in range(n,0,-1):
  for j in range(1,(n-i)+1):
    print(" ",end=" ")
  for j in range(1,(2*i-1)+1):
    print("*",end=" ")
  print( " ")

* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,(n-i+1)+1):
    print(" ",end=" ")
  for j in range(1,(2*i-1)+1):
    print("*",end=" ")
  print( )
print(((2*n)+1)* "* ",end=(" "))
print( )
for i in range(n,0,-1):
  for j in range(1,(n-i+1)+1):
    print(" ",end=" ")
  for j in range(1,(2*i-1)+1):
    print("*",end=" ")
  print( )

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

# Day 10 - GITHUB
# Day 11- Exception handling and file handling

# Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

1. The try block lets you test a block of code for errors.

2. The except block lets you handle the error.

3. The else block lets you execute code when there is no error.

4. The finally block lets you execute code, regardless of the result of the try- and except blocks.

These exceptions can be handled using the try statement:

In [ ]:
#The try block will generate an exception, because x is not defined:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

**Many Exceptions**

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

*Print one message if the try block raises a NameError and another for other errors:*

In [ ]:
try:
  print(50/0)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Something else went wrong

**Else**

You can use the else keyword to define a block of code to be executed if no errors were raised:

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

**Finally**

The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [ ]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

# DAY 12

# OPPS


**In programming, "OPPS" stands for "Object-Oriented Programming Principles" or "Object-Oriented Programming Paradigm." It's a programming paradigm based on the concept of "objects," which can contain data and code to manipulate that data.**

 The four main principles of OOP are:

1. **Encapsulation**: Bundling data and methods that operate on the data into a single unit (an object), and restricting access to some of the object's components.
2. **Inheritance**: Allowing a class (called a subclass or derived class) to inherit properties and behavior from another class (called a superclass or base class), promoting code reuse and organization.
3. **Polymorphism**: The ability for objects of different classes to be treated as objects of a common superclass. This allows methods to be called on objects without needing to know the specific class of the object, facilitating flexibility and extensibility.
4. **Abstraction**: Focusing on essential qualities of an object while ignoring irrelevant details. Abstraction allows developers to create models that simulate real-world systems more accurately and effectively.

**Python Classes and Objects**

1. Python is an object oriented programming language.

2. Almost everything in Python is an object, with its properties and methods.

3. A Class is like an object constructor, or a "blueprint" for creating objects.

**Create a Class**

To create a class, use the keyword class:

In [ ]:
#Create a class named MyClass
class MyClass:
  x = 5

**Create Object**

Now we can use the class named MyClass to create objects:

In [ ]:
#Create an object named p1, and print the value of x:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

**The __init__() Function**

* The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

* To understand the meaning of classes we have to understand the built-in __init__() function.

* All classes have a function called __init__(), which is always executed when the class is being initiated.

* Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("JohnObject Methods", 36)

print(p1.name)
print(p1.age)

**Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.**

**Object Methods**

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**The self Parameter**

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Modify Object Properties

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

**Delete Object Properties**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

NameError: name 'p1' is not defined

**The pass Statement**

In [ ]:
class Person:
  pass

**Python Inheitance**

Inheritance allows us to define a class that inherits all the methods and properties from another class.

* Parent class is the class being inherited from, also called base class.

* Child class is the class that inherits from another class, also called derived class.

**Create a Parent Class**
Any class can be a parent class, so the syntax is the same as creating any other class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

**Create a Child Class**
To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

Create a class named Student, which will inherit the properties and methods from the Person class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

**Python Polymorphism**

The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.

**Function Polymorphism**
An example of a Python function that can be used on different objects is the len() function.

In [ ]:
x = "Hello World!"

print(len(x))

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

**Class Polymorphism**
* Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.

* For example, say we have three classes: Car, Boat, and Plane, and they all have a method called move():

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

**Inheritance Class Polymorphism**

Yes. If we use the example above and make a parent class called Vehicle, and make Car, Boat, Plane child classes of Vehicle, the child classes inherits the Vehicle methods, but can override them:

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!